* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: degular-text, sans-serif;
  background-color: rgb(250, 250, 250);
  padding-top: 5px;
}

header {
  background: #fff;
  border: 1px solid lightgray;
  margin-bottom: -1px;
  padding: 5px;
}

section {
  border: 1px solid lightgray;
  background: #fff;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.main {
  flex-grow: 1;
  margin-left: -1px;
  padding: 5px;

  display: flex;
  flex-direction: column;
}

.city-overview {
  flex-grow: 1;
  margin-bottom: 5px;
}

.forecast-overview {
  margin-bottom: 0 !important;
}

.side-bar {
  width: 25%;
  min-width: 220px;
  padding: 5px;
}

.nav-menu {
  list-style-type: none;

  li {
    border: 1px solid lightgray;
    padding: 10px;
    margin: 0px 0px -1px 0px;
    border-radius: 3px;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.card {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px;
}

.forecast-card {
  margin-right: 5px;

  &:last-of-type {
    margin-right: -0px;
  }
}

.full-width {
  width: 100%;
}
